/* codeblock */
pre[class*="language-"] {
  font-size: 1.2em;
}

/*vuetify의 effect 제거*/
code:before {
  content: "" !important;
  letter-spacing: 0px !important;
}

/*> 구문*/
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* **strong** */
strong {
  border-bottom: 3px solid #b4e7f8; /*밑줄색깔*/
}

/* `` */
p code {
  line-height: 1.8;
  color: #000000;
  font-family: GodoM;
  border-radius: 0.1em;

}

/*s3 이미지 크기 조정*/
p img {
  max-width: 80%;
}

/* Link */
p a {
  color: #FF7F50 !important;
  font-weight: bold;
}


/* 해시태그(#) 사이즈 조정 */

h1 {
  line-height: 2.5em;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  font-size: 2.5em;
}

h2 {
  line-height: 2em;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  font-size: 2em;
}

h3 {
  line-height: 1.5em;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  font-size: 1.5em;
}

h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* list css에 안맞음 */
.markdown ol,
.markdown ul {
  margin-left: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

}

li {
  line-height: 1.5em;
}
