html, body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


@font-face {
  font-family: 'GodoM';
  src: url('/assets/fonts/GodoM.woff') format('woff');
}


.GodoM {
  font-family: GodoM;
}

.GodoB {
  font-family: GodoM;
  font-stretch: expanded;
}

/*pages/post/_id.vue 에서 이거 설정하면 다른애가 margin-bottom: 16px 로 잡아버린다.. */
.markdown {
  p {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  //border: 1px solid red;
}

div {
  //border: 1px solid;
}

div .pagination {

  padding: 1em;

  a {
    padding: .5em;
    color: #66d9ef;

    &:hover {
      transform: scale(1.3);
      color: #000000;
    }
  }

}
